@font-face {
    font-family: "Yoke";
    src: url(/Fonts/Yokelvision-J6yx.ttf);
}

#font-stuff{
    font-size: 40px;
    font-family: "Yoke";
}

#heroBg{
    background: url(/Images/pochita-bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}