@font-face {
    font-family: "Yoke";
    src: url(/Fonts/Yokelvision-J6yx.ttf);
}

.font-stuff {
    font-family: "Yoke";
}

.home {
    background: url(/Images/pochita-bg-again.png);
    background-repeat: repeat;
    background-size: 108%;
    margin: 0px;
    padding: 0px;
}
/* body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */
@media (max-width: 768px) {
    .font-stuff {
        flex-direction: column;
        align-items: center;
    }
}

/* footer {
    margin-top: auto;
} */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#titleText{
    font-size: 90px;
}

.titleNum{
    font-size: 80px;
}
.titleAnime{
    font-size: 60px;
}
.description{
    font-size: 40px;
}
.backToTop{
    display: flex;
    justify-content: end;
}
@media screen and (min-width: 1170px) and (max-width: 1750px){
    #titleText {
        font-size: 60px;
    }
    .titleNum {
        font-size: 50px;
    }
    .titleAnime {
        font-size: 40px;
    }
    .description {
        font-size: 30px;
    }
    .backToTop {
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 600px) and (max-width: 1170px){
    #titleText {
        font-size: 45px;
    }
    .titleNum {
        font-size: 40px;
    }
    .titleAnime {
        font-size: 30px;
    }
    .description {
        font-size: 25px;
    }
    .backToTop {
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 0px) and (max-width: 600px){
    #titleText {
        font-size: 40px;
    }
    .titleNum {
        font-size: 40px;
    }
    .titleAnime {
        font-size: 30px;
    }
    .description {
        font-size: 30px;
    }
    .backToTop {
        display: flex;
        justify-content: center;
    }
}